# Godot 4+ specific ignores
.godot/
/android/

# Documentation
documentation/.obsidian
documentation/To Do.md

# External Assets
external-assets

# 3D Models and Blender Files
3d-models

# Vector Art
vector-art

# Screenshots
screenshots

# Local build files
godot-project/builds

# HTML code for itch page
itch-page.html
