# Godot 4+ specific ignores
.godot/
/android/

# Documentation
documentation/.obsidian
documentation/To Do.md

# External Assets
external-assets

# Screenshots
screenshots

# Local build files
builds

# HTML code for itch page
itch-page.html

# Speedy Shopper Assets, held in a separate Git Repo
# Includes 3D models and vector art
speedy-shopper-assets

